// Place all the styles related to the cityspring controller here -- results view
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// This is for the results view -- the datalocations using jquery
.head_title{text-align: center; background-color: white;}
div.nav{margin-right: auto; }
.center{margin-left: auto; margin-right: auto; width: 85%}
footer {text-align: center; height: 50px; bottom: 150px; position: auto; font-size: 80%;} 
.space {height: 150px;}
IMG.home_image { display: block; margin-left: auto; margin-right: auto}
.intro_text {display: block; text-align:center; color: white; font-size: 200%}
h3.search_label {text-align: center}
p.cbo {text-align: center}
.footer {position: fixed; bottom: 5px; width: 100%; height: 40px; text-align: center;}
.error {text-align: center; color: red; font-size: 125%}
body {
	background-image: url("basic_sky.jpg");
	background-size: cover;
}