<br>
<br>
New York City Resources

<div class="useful_links">
<br>
<p><a href="http://schools.nyc.gov/default.htm"> Department of Education (DOE)</a> - NYC pre-kindergarden and education resources</p>

<p><a href="http://www.nyc.gov/html/doh/html/living/childcare.shtml"> Department of Health & Mental Hygiene</a> - NYC information on child care and regulations

<p><a href="http://www.nyc.gov/html/hra/html/home/home.shtml">Human Resources Administration (HRA)</a> - NYC's primary social service agency </p>

<p><a href="http://www.nyc.gov/html/acs/html/home/home.shtml">Administration for Children Services (ACS)</a> - NYC agency dedicated to child welfare including Head Start</p>

<p><a href="http://www.nyc.gov/html/dhs/html/home/home.shtml">Department of Homeless Services (DHS)</a> - NYC agency focused on combating homelessness  </p>

<p><a href="http://www.nycgovparks.org/">Department of Parks and Recreation</a> - Responsible for maintaining parks, beaches and swimming pools (and other fun) </p>

<p><a href="http://www.nypl.org/"> New York Public Libraries (NYPL)</a> - Maintains libraries in Manhattan, the Bronx and Staten Island  </p>

<p><a href="http://www.bklynlibrary.org/">Brooklyn Public Libraries (BPL)</a> - Libraries in Brooklyn  </p>

<p><a href="http://www.queenslibrary.org/"> Queens Libraries</a> - Libraries in Queens </p>
</div>
<br>
<br>

New York State Resources
<br>

<p><a href="https://otda.ny.gov/"> Office of Temporary and Disability Assistance (OTDA)</a> - Main State agency responsible for social services </p>

<p><a href="http://ocfs.ny.gov/main/"> Office of Children and Family Services (OCFS)</a> - State agency supporting child welfare  </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
